<div>
    <div class="thumbnail">
        <img class="wine-img" ng-src="img/wines/{{wine.picture}}"
             ng-click="navigateToWinePage(wine)">
        <div class="caption">
            <h3>{{ wine.name }}</h3>
            <p>
                <small>{{ wine.description }}</small>
            </p>
            <p>
                <a href="" ng-click="navigateToWinePage(wine)" class="btn btn-primary" role="button">More Info</a>
                <button href="" ng-click="likeWine(wine)" ng-disabled="wine.liked" class="btn btn-default" role="button">
                <i class="glyphicon glyphicon-plus"></i>
                    {{ wine.likes }}
                    Likes
                </button>
            </p>

        </div>
    </div>
</div>