<div>
    <div class="thumbnail">
        <img class="auto-full-width"
             ng-src="img/wines/{{wine.picture}}"
             ng-click="navigateToWinePage(wine)">
        <div class="caption">
            <h3>{{ wine.name }}</h3>
            <p>
                <small>{{ wine.description }}</small>
            </p>
            <p>
                <a href=""
                   class="btn btn-primary"
                   role="button"
                   ng-click="navigateToWinePage(wine)">
                    More Info
                </a>
                <button href=""
                        class="btn btn-default"
                        role="button"
                        ng-click="likeWine(wine)"
                        ng-disabled="wine.liked">
                <i class="glyphicon glyphicon-plus"></i>
                    {{ wine.likes }}
                    Likes
                </button>
            </p>

        </div>
    </div>
</div>